* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar */
.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

header {
    height: auto;
    font-size: 30px;
    text-align: flex-start;
    color: whitesmoke;
    font-style: italic;
    font-size: large;
    font-family: lulo-clean-w01-one-bold, sans-serif;
}

nav {
    border: 1px solid #333;
    padding: 0px;
    margin: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: fantasy;
    list-style-type: none;
    font-size: 30px;
}

nav ul li {
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right:none;
}

nav a {
    padding: 14px 20px;
    color: white
}

nav a:hover {
    color: rgb(137, 137, 146);
    font-size: 24px;
    text-shadow: 10px 10px black;
}

.sites {
    position: relative;
    white-space: nowrap;
    float: left;
}

/* image header */
.bgimg {
    height: 100vh;
    background-image: url('guitar_me.jpg');
    background-size: cover;
    margin-top: 60px;
    max-width: 100%;

}

/* description header */
.name_text {
    text-align: center;
    justify-content: wrap;
    position: relative;
    top: 500px;
}

.name_title {
    font-size: 4.5rem;
    color: black;
}

.name_descr {
    font-size: 2rem;
    color:black;
}

#main {
    margin-left: 0;
}

.section-title {
    padding-bottom: 30px;
    background-color: #ff1852;
}

.section div {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section-title h2 {
    font-size: 36px;
    margin: 0 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.content{
    display: flex;
    align-items: center;
    text-align: center;
}

.content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
  }

.content 
  ul 
  li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

.img-fluid {
    max-width: 40%;
    height: auto;
    padding-top: 12px;
}

.text {
    background-color: #ff1852;
}

/*Adjusts screen size*/
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }
