* {
    box-sizing: border-box;
}

header {
    padding: 50px;
    text-align: center;
    background: green;
    color: whitesmoke
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: green;
    font-family: fantasy;
}

nav a {
    color: white;
    padding: 14px 20px;
}

.chase {
    color: red
}

.sites {
    
}